.absolute-center {
  position absolute
  top 50%
  left 50%
  transform: translate(-50%, -50%)
}

.animation-rotation {
  animation-name rotation
  animation-duration: 3000ms
  animation-iteration-count: infinite
  animation-timing-function linear
}

@keyframes rotation {
    0% {
      transform: translate(-50%, -50%) rotate(0deg)
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg)
    }
}

body {
  font-family: "Didact Gothic", sans-serif;
}

.row  {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-center  {
  display: flex;
  justify-content: center
}

.text-title {
  font-family: "Gloria Hallelujah";
}

.text-center {
  text-align: center;
}

.text-white {
  color: $white;
}

.section {
  height: 100vh;
  padding: 16px;
}

.bg-tertiary {
  background-color: $tertiary;
}

.bg-secondary {
  background-color: $secondary;
}

.bg-official {
  background-color: $primary;
}

#home {
  padding-top: 50px;
}

#top-br {
  padding-top: 20px;
}

.container {
  margin: auto;
  max-width: 800px;
  height: 50%;
}

.card {
  padding: 2rem;
  background: white;
  border-radius: 8px;
}

.card-narrow {
  width: 200px;
}

.width-standard {
  width: 600px;
}

.height-standard {
  height: 330px;
}

.standard-border {
  border: 1px solid $primary;
}

.fancy-input {
  background: rgba(0, 0, 0, 0.04);
  border: 1px solid $black
  outline: none;
  height: 34px;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 8px;
}

.fancy-input:focus {
  background: black
  border: 1px solid $primary;
}

.btn-primary,
.btn-secondary {
  cursor: pointer;
  border: none;
  width: 100px;
  height: 36px;
  line-height: 36px;
  transition: all ease-in-out 300ms;
  border-radius: 5%
  &:hover {
    box-shadow: 1px 1px 2px $black;
  }
}
.btn-primary {
  color: $white;
  background: $primary;
}



.btn-secondary {
  background: $white;
  color: $primary;
}

.btn-primary,
.btn-secondary,
.box-shadow {
  box-shadow: 2px 2px 4px $black
}

.m-t {
  margin-top: 1rem;
}

.m-r {
  margin-right: 1rem;
}

.m-r-sm {
  margin-right: 0.3rem;
}

.m-l {
  margin-left: 1rem;
}

.m-l-sm {
  margin-left: 0.5rem;
}

.p-t {
  padding-top: 1rem;
}

.navigation {
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 0 10px;
}

.navigation-item {
  padding: 15px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.cover {
  object-fit: cover;
}

.border-rounded {
  border-radius: 8px;
}

.info {
  padding: 8px 0;
  color: $tertiary;
}

.border-btm {
  border-bottom: 1px solid $primary;
}

.text-accent {
  color: $accent;
}

.text-black {
  color: $black;
}
