.absolute-center {
  position absolute
  top 50%
  left 50%
  transform: translate(-50%, -50%)
}

.animation-rotation {
  animation-name rotation
  animation-duration: 3000ms
  animation-iteration-count: infinite
  animation-timing-function linear
}

@keyframes rotation {
    0% {
      transform: translate(-50%, -50%) rotate(0deg)
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg)
    }
}

body {
  font-family: "Didact Gothic";
}

.row  {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.wrap {
  flex-wrap: wrap
  }

.text-title {
  font-family: 'Arvo', serif;
}

.pony_font {
 font-family: "Spencer", sans-serif;
}

.text-center {
  text-align: center;
}

.text-white {
  color: $white;
}

.text-accent {
  color: $accent;
}

.text-black {
  color: $black;
}

.bg-black {
  background-color: $black;
}

.bg-danger {
  background: $danger;
}

.bg-white {
  background: $white;
}

.bg-safe {
  background: $safe;
}

.bg-concern {
  background: $concern;
  }

.bg-warning {
  background: $warning;
  }

.container {
  margin: auto;
  max-width: 800px;
  height: 50%;
}

.card {
  padding: 2rem;
  border-radius: 8px;
}

.standard-border {
  border: 2px solid $fancy;
}

.btn-primary,
.btn-secondary {
  cursor: pointer;
  border: none;
  height: 36px;
  line-height: 36px;
  transition: all ease-in-out 300ms;
  color: $white;
  background: $primary;
  border-radius: 5%
  &:hover {
    box-shadow: 3px 3px 6px $secondary;
  }
}

.box-shadow {
  box-shadow: 2px 2px 4px rgb(115, 111, 111)
}

.m-t {
  margin-top: 1rem;
}

.m-b {
  margin-bottom: 1rem;  
}

.avatar {
  width: 150px;
  height: 150px;
}

.avatar-small {
  width: 30px;
  height: 30px;
  border-radius: 50%
}
